{% extends 'base.html' %}

{% block content %}

<h2>Detail Product </h2>

    <ul>
        <div>
            {% for images in product.images.all %}
                <img src="{{ images.images.url }}">
            {% endfor %}
        </div>
        
        <li>
            {{product.name}}
        </li>
        
        <li>
            {{product.description}}
        </li>
        
        <li>
        	{{product.cost_price}}
        </li>

        <li>
            {{product.price}}
        </li>
        
        <li>
            {{product.stock}}
        </li>

        {% if product.myLikes == 0 %}
            <li>be the first like</li>
        {% else %}
            <li>
                <p>{{product.myLikes}}likes</p>
            </li>
        {% endif %}
        
        {% if product.myDislikes == 0 %}
            <li>be the first dislike</li>
        {% else %}
            <li>
                <p>{{product.myDislikes}}dislikes</p>
            </li>
        {% endif %}
    </ul>

    <h3>Reaction</h3>
        <form method="POST" action="{% url 'reactions:path_product_reaction' product.pk %}">{% csrf_token %}

            <button type="submit" name="action" value="like">Like</button>

            <button type="submit" name="action" value="dislike">Dislike</button>
        </form>

    <h3>Opinions</h3>
        {% for o in product.myOpinions %}
            <p>{{o.author}}</p>
            <p>{{o.text}}</p>
            <p>creado -> {{o.create_data}}</p>
            <a href="{% url 'opinions:path_opinion_delete' o.pk %}">Delete</a>
        {% empty %}
            <p>There are no reviews of the product yet.</p>
        {% endfor %}

    <h2>Leave your opinion</h2>
        <form method="POST" action="{% url 'opinions:path_opinion_create' product.pk %}">{% csrf_token %}
            <textarea style="width:400px; height: 200px;" name="text_comment"></textarea>
            <button type="submit">Comment</button>
        </form>

{% endblock content%}