{% extends 'base.html' %}

{% block content %}

<h1>Products lists</h1>

<div>
    <form method="GET">
        <input type="text" name="name" placeholder="Search products..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
</div>

{% for product in page_obj %}
    <a href="{% url 'products:path_product_update' product.pk %}">
     Update product</a>
    <a href="{% url 'products:path_product_delete' product.pk %}">
     Delete product</a>
     <a href="{% url  'products:path_product_detail' product.pk %}">Detail</a>
    <ul>
        <div>
            {% if product.prefetched_images %}
                <img src="{{ product.prefetched_images.0.images.url }}" alt="{{ product.name }}">
            {% endif %}
        </div>
        
        <li>
            {{product.name}}
        </li>
        
        <li>
            {{product.description}}
        </li>
        
        <li>
            {{product.price}}
        </li>
        
        <li>
            {{product.stock}}
        </li>
    </ul>
{% endfor %}





{% endblock content %}